@font-face {
  font-family: Mohave-Regular;
  src: url(../../src/fonts/Mohave-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Mohave-Medium;
  src: url(../../src/fonts/Mohave-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Cormorant Infant;
  src: url(../../src/fonts/CormorantInfant-Medium.ttf);
  font-weight: 500;
}

%mohave-400 {
  font-family: Mohave-Regular, sans-serif;
  font-weight: 400;
}

%mohave-500 {
  font-family: Mohave-Medium, sans-serif;
  font-weight: 500;
}

%cormorant-infant-500 {
  font-family: Cormorant Infant, sans-serif;
  font-weight: 500;
}

h1 {
  @extend %mohave-400;
  text-transform: uppercase;
}
