$back-color: #f2f1e9;
$white-color: #fff;
$active-color: #871c1c;
$active-color-hover: #b13c27;
$title-color: #151516;
$additional-title-color: #53545a;
$input-title-color: #86878d;
$unique-dates-color:#c3c3c6;
$back-more-color: #2a2a2d;
$input-back-color: #e1dfd4;
$disabled-color: #facccc;
$invalid-input-color: #c4390f;
$error-color: #802f1d;
$order-name-color: #b12c2c;
$loader-content-color: #ddd;